<footer class="d-flex flex-column justify-content-center align-items-center gap-3">
    <div class="media d-flex gap-3">
        <a href="https://github.com/VincentiusJacob"><img class="media-icon" src="images/github.png" alt="GitHub"></a>
        <a href="https://www.instagram.com/_icents_?igsh=MXBwbzlkOHc1d3Zzdw=="><img class="media-icon" src="images/instagram.png" alt="Instagram"></a>
        <a href="https://www.linkedin.com/in/vincentius-jacob-922b56302?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><img class="media-icon" src="images/linkedin.png" alt="LinkedIn"></a>
    </div>
    <address> @ 2024 Open Blogs</address>
</footer>

<script type="module" src="/home.js"></script>
</body>
</html>
